[Desktop Entry]
Name=Duplicate
Comment=A bad open source epic games launcher
Exec=~/.bin/Duplicate/Duplicate
Terminal=false
Type=Application
Categories=Utility;
Icon=layer-new