[Desktop Entry]
Name=Alfae
Comment=A multi platform game launcher
Exec=~/.bin/Alfae/Alfae
Terminal=false
Type=Application
Categories=Utility;
Icon=layer-new