[Desktop Entry]
Name=Launcher
Comment=A multi platform game launcher
Exec=~/.bin/Launcher/Launcher
Terminal=false
Type=Application
Categories=Utility;
Icon=layer-new